@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    /* background-image: linear-gradient(to bottom right, #38BEC9, #E0FCFF); */
}

header {
    min-height: 15vh;
    border-radius: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer{
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > img{
    height: 7rem;
    width: 9.5rem;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 2rem;
    margin-bottom: 2rem;
}


header h1, h2, h3, h4, h5, h6{
    margin: .5rem 0 0 0;
}

#nightmode-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3rem;
    margin-top: 2rem;
    background-color: #829AB1;
    border-radius: 30px;
    width: 10%;
    height: 5%;
}

#burger-icon-wrapper {
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #BEF8FD;
    margin: 6px 0;
    transition: 0.4s;
  }

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

#nav-parent{
    background-color: #14919B;
    transition: 0.1s;
    width: 4%;
    position: fixed;
    bottom: 40vh;
    left: 1vw;
    padding: 0px 0.5rem;
    border-radius: .2rem;
    z-index: 99;
}

#link-wrapper{
    padding: 0;
}

#link-wrapper >li{
    list-style: none;
    text-align: center;
}

#link-wrapper a{
    text-decoration: none;
    font-size:x-large;
    color: #F0F4F8;
  
}

#link-wrapper a:hover{
    color: #BCCCDC;
}

#link-wrapper i{
    text-decoration: none;
    transition: 0.4s;
}

#avatar-image{
    height: 10rem;
    width: 10rem;
}

/* HOME Page */

#home-main{
    min-height: 75vh;
}

#home-main > section{
    position: relative;
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.first-section img{
    position: absolute;
    left: 0;
    margin-left: 5%;
}

.second-section{
    margin-left: 10rem;
}

.second-section > img{
    position: absolute;
    right: 60;
    margin-right: 15%;
    z-index: 0;
}

.third-section > img{
    position: absolute;
    right: 0;
    margin-right: 5%;
    z-index: 0;
}

.third-section{
    margin-left: 20rem;
}

#home-main > section > div{
    width: 50%;
    z-index: 1;

}

#home-main > section > div > p{
    border: 1px solid rgb(151, 150, 150);
    border-radius: 2px;
    padding: 1rem;
    font-size: large;
    margin-left:2rem
}
/* CONTACT PAGE */

#contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #829AB1;
    width: 35%;
    border-radius: .2rem;
    min-height: 60vh;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    color: #D9E2EC;
    padding: 2rem;
}

#contact-form label{
    font-weight: bolder;
    font-size: large;
}

#contact-form > div{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
}

#contact-form input, textarea{
    text-decoration: none;
    outline: none;
    margin-top: .5rem;
    border-radius: .2rem;
    box-sizing: border-box;
    padding: 12px 20px;
    border: none;
    resize: none;
}

#contact-form textarea{
    height: 10rem;
}

#contact-form input:focus, textarea:focus{
    background-color: #BEF8FD;
    font-family: 'Roboto', sans-serif;
}

#contact-form input[type=submit]{
    cursor: pointer;
    background-color: #D9E2EC;
    color: #102A43;
}


.fa{
    padding: 20px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: .2rem;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.err-msg-mobile, .err-msg-email{
    color: rgb(207, 79, 79);
    margin: 0;
    font-weight: bold;
}

/* ABOUT PAGE */

.about-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
}

#about-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
    margin-left: 10rem;
}

.about-section figure{
    max-height: 500px;
    width: auto;
}

.about-section img{
    width: 400px;
    height: 450px;
    border-radius: .2rem;
}

.about-section div{
    width: 40%;
}

/* DESIGN PAGE */

#design-main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 75vh;
}

#design-main section{
    display: flex;
    width: 80%;
    align-items: center;
    position: relative;
    margin-bottom: 1rem;
}

.sketchbook_title{
    border: .5px solid #D9E2EC;
    border-radius: .5px;
    margin-left: 1rem;
    padding: .5rem;
}

#design-main > div{
    width: 50%;
}

#design-main img{
    height: 15rem;
    width: 13rem;
    border-radius: .2rem;
}

#design-main figure{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#design-main details{
    border: .5px solid #BCCCDC;
    font-weight: 900;
    width:-webkit-fill-available;
    cursor: pointer;
    border-radius: .2rem;
    padding: .5rem;
}

#design-main details:hover{
    border: 1px solid #545659;
}


.design-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
}

.design-section figure{
    max-height: 500px;
    width: auto;
}

.design-section img{
    width: 300px;
    height: 300px;
    border-radius: .2rem;
    border: .5px solid black;
}

/* TODO PAGE */
#todo-main{
    min-height: 75vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 2rem;
}

#todo-wrapper{
    min-height: 30vh;
    width: 50vw;
    background-color: #ffff81;
    margin-top: 2rem;
    padding: .5rem;
}

#todoForm{
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#todoForm > input[type=text]{
    width: 70%;
    padding: 12px 20px;
}

#todoForm > input[type=submit]{
    cursor: pointer;
    border: none;
    color: white;
    background-color: #14919B;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    border-radius: 2px;
    height: 2.5rem;
}

#todoForm > input[type=submit]:hover{
    background-color: #05727a;
}

.todo-li {
    padding: .5rem;
}

.todo-li > button{
    cursor: pointer;
    transition-duration: 0.3s;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    border-radius: 2px;
}

.todo-li > button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.20), 0 15px 45px 0 rgba(0,0,0,0.15);
}

.todo-li-button-delete{
   margin-left: 2rem;
   margin-right: .5rem;
   background-color: #D64545;
}

.todo-li-button-complete{
    background-color: #E9B949;
}

.done{
    text-decoration: line-through;
    font-weight: bolder;
}