@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 15vh;
    border-radius: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer{
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1, h2, h3, h4, h5, h6{
    margin: .5rem 0 0 0;
}

#burger-icon-wrapper {
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #BEF8FD;
    margin: 6px 0;
    transition: 0.4s;
  }

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

#nav-parent{
    background-color: #14919B;
    transition: 0.1s;
    width: 4%;
    position: fixed;
    bottom: 40vh;
    left: 1vw;
    padding: 0px 0.5rem;
    border-radius: .2rem;
}

#link-wrapper{
    padding: 0;
}

#link-wrapper >li{
    list-style: none;
    text-align: center;
}

#link-wrapper a{
    text-decoration: none;
    font-size:x-large;
    color: #F0F4F8;
  
}

#link-wrapper a:hover{
    color: #BCCCDC;
}

#link-wrapper i{
    text-decoration: none;
    transition: 0.4s;
}

/* CONTACT PAGE */

#contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #829AB1;
    width: 35%;
    border-radius: .2rem;
    height: 60vh;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    color: #D9E2EC;
    padding: 2rem;
}

#contact-form label{
    font-weight: bolder;
    font-size: large;
}

#contact-form > div{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
}

#contact-form input, textarea{
    text-decoration: none;
    outline: none;
    margin-top: .5rem;
    border-radius: .2rem;
    box-sizing: border-box;
    padding: 12px 20px;
    border: none;
    resize: none;
}

#contact-form textarea{
    height: 10rem;
}

#contact-form input:focus, textarea:focus{
    background-color: #BEF8FD;
    font-family: 'Roboto', sans-serif;
}

#contact-form input[type=submit]{
    cursor: pointer;
    background-color: #D9E2EC;
    color: #102A43;
}


.fa{
    padding: 20px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: .2rem;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.err-msg-mobile, .err-msg-email{
    color: rgb(207, 79, 79);
    margin: 0;
    font-weight: bold;
}

/* ABOUT PAGE */

.about-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
}

.about-section figure{
    max-height: 500px;
    width: auto;
}

.about-section img{
    width: 400px;
    height: 450px;
    border-radius: .2rem;
}

.about-section div{
    width: 40%;
}

/* DESIGN PAGE */

.design-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
}

.design-section figure{
    max-height: 500px;
    width: auto;
}

.design-section img{
    width: 300px;
    height: 300px;
    border-radius: .2rem;
    border: .5px solid black;
}